@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
a, a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
img{
	width: 100%;
}
html{
	font-family: "Open Sans", sans-serif;
	font-size: 1.1rem;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #444;
}
header>ul{
	display: flex;
}
header>ul>li{
	margin: 0px 5px;
}

main>.row{
	background-color: #babaca;
	border-top: 3px solid #ffffff33;
}

main>div:nth-child(1){
	height: 400px;
	background-image: url('https://dummyimage.com/1000x1000/444/000');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	border: 0;
}

footer{
	background-color: #555;
	margin: 0;
	padding: 1px 0;
}

.card{
	width: 100%;
	height: 100%;
	background-size: contain;
}